.wrapper-minfooter{
    position: fixed;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-minfooter p {
    color:white;
    text-align: center;
}

@media (max-width:530px){
    .wrapper-minfooter p{
        font-size: 10px;
    }
}