.wrapper-aside-menu{
    position: relative;
    display: flex;
    grid-area: secondary;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 10px black;
    margin-right: 30px;
}
.wrapper-aside-menu * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aside-menu-clasification{
    padding: 0;

}
.aside-menu-clasification *{
    padding: 0;
    margin: 0;
    color: #878787;
    text-decoration: none;
    list-style-type: none;
}
.aside-menu-clasification h2{
    font-size: 16px;
    margin-bottom: 15px;
}
@media (max-width:700px){
    .wrapper-aside-menu{
        width: 100%;
        margin: 0;
    }
}