.wrapper-form-login{
    grid-column: 1;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    height: 100%;
    max-height: 300px;
}

.wrapper-form-login input {
    outline: none;
    text-align: center;
    height: 40px;
    border-radius: 20px;
    color: var(--color-green-one);
    width: 100%;
    border-width: 0px;
    padding: 0;
    margin: 0;
}

.wrapper-form-login input::placeholder{
    text-align: center;
}

.wrapper-form-login legend {
    padding: 0;
    margin: 0;
    color: var(--color-black-one);
    font-weight: bolder;
    text-align: center;
}
.wrapper-form-login input[type="submit"]{
    border-radius: 10px;
    background-color: var(--color-blue-two);
    color:white;
}
.wrapper-form-login .response{
    padding: 0;margin: 0;
    grid-column: span 2;
    background-color: var(--color-black-two);
    color:white;
    text-align: center;
    font-size: 13px;
    height: min-content;
}