.header-shape{
    position: absolute;
    height: 500px;
    width: 100%;
    background-color: #313131;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%,0% 70%);
    z-index: -1;
  }
  .header-shape img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter:opacity(.5);
  }
  
  .content-login{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-areas: 'formulario1 imagen1' 'formulario2 imagen2';
    grid-gap:20px;
    grid-template-rows: min-content;
    width: 100%;
    box-sizing: border-box;
    padding: 8%;
  }
  .content-login img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0/30%);
    box-sizing: border-box;
    padding: 10px;
    min-height: 80px;
    grid-area: imagen1;
  }
  .content-login>img:last-child{
    grid-area: imagen2;
    padding: 0;
    object-fit: cover;
  }

  @media (max-width:520px){
    .content-login{
      grid-template-columns: 1fr;
      grid-template-areas:'imagen1' 'formulario1' 'formulario2';
      margin-bottom: 20px;
    }
    .content-login>img:last-child{
      display: none;
    }

  }